body {
    font-size: 1.00em;
    font-family: sans-serif;

    margin: 0 auto;
    padding: 1.00rem;
    max-width: 700px;
}

.disclaimer {
    display: inline-block;
    font-size: 0.50em;
    background: red;
    color: white;
    padding: 0.25em;
    border-radius: 0.50em;
    transform: rotate(20deg);
}

.alert-level {
    padding: 1.00em;
}

.alert-level__container {
    display: flex;
    justify-content: space-between;
}

.alert-level__label {
    font-size: 2.50em;
    margin: 0 1.00rem 0 0;
    padding: 0.50em 1.00em;
}

.alert-level--5 .alert-level__label { background: rgb(234, 80, 67); }
.alert-level--4 .alert-level__label { background: rgb(246, 137, 35); }
.alert-level--3 .alert-level__label { background: rgb(255, 193, 1); }
.alert-level--2 .alert-level__label { background: rgb(157, 187, 59); }
.alert-level--1 .alert-level__label { background: rgb(58, 178, 114); }

.code {
    background: #f1f1f1;
    color: green;
    font-family: monospace;
    padding: 0.50em;
}

.readthis {
    background: #FFFF88;
    padding: 1.00rem;
    margin: 1.00rem -1.00rem;
}
